<main>
  <!-- Clients, History -->
  <div class="row justify-content-center mb-3">
    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12 text-center">
      <kendo-buttongroup selection="single">
        <button kendoButton selected="true">Clients</button>
        <button kendoButton>History</button>
      </kendo-buttongroup>
    </div>
  </div>
  <!-- OpenVPN Servers -->
  <div class="row justify-content-center mb-3">
    <!-- OpenVPN Servers -->
    <div class="col-12">
      <kendo-grid [data]="clientsGridData" [height]="300" [sortable]="true" [sort]="clientsGridSort" [filterable]="true"
        [loading]="clientsLoading" (remove)="disconnectClient($event)">
        <ng-template kendoGridToolbarTemplate>
          <kendo-grid-spacer></kendo-grid-spacer>
          <h4>{{ openvpnServer?.name }}</h4>
          <kendo-grid-spacer></kendo-grid-spacer>
          <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
          <button kendoGridExcelCommand icon="file-excel">Export to Excel</button>
        </ng-template>
        <!-- Columns -->
        <kendo-grid-column field="name" title="Name" filter="text" [width]="200"> </kendo-grid-column>
        <kendo-grid-column field="openvpnIpAddress" title="VPN IP" filter="text" [width]="150">
        </kendo-grid-column>
        <kendo-grid-column field="publicIpAddress" title="Public IP" filter="text" [width]="120" format="{0:n0}">
        </kendo-grid-column>
        <kendo-grid-column field="connected" title="Password" filter="date" [width]="200">
        </kendo-grid-column>
        <kendo-grid-command-column title="Command" [width]="220">
          <ng-template kendoGridCellTemplate>
            <button kendoGridRemoveCommand themeColor="primary">Disconnect</button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </div>
</main>