<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" *ngIf="isLoggedIn">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">{{ appTitle }}</a>
    <button class="navbar-toggler" type="button" (click)="toggler.toggle()">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" mdbCollapse #toggler="mdbCollapse">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="configSelected" routerLink="config">Config</a>
        </li>
        <!-- Servers -->
        <li class="nav-item" mdbWavesEffect>
          <div mdbDropdown #serversDropdown class="dropdown">
            <button class="btn nav-link dropdown-toggle fs-6" [class.active]="serverSelected" type="button"
              mdbDropdownToggle>
              Servers
            </button>
            <ul mdbDropdownMenu class="dropdown-menu">
              <div *ngFor="let openVPNserver of openVPNservers">
                <li>
                  <a class="dropdown-item fs-6" [routerLink]="['/server/' + openVPNserver.id]"
                    (click)="serversDropdown.hide();">
                    {{ openVPNserver.name }}
                  </a>
                </li>
              </div>
            </ul>
          </div>
        </li>
      </ul>
      <!-- Right Links -->
      <ul class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
        <!-- Display Name -->
        <li class="nav-item">
          <a class="nav-link" [class.active]="true">
            <fa-icon [icon]="faUser" class="me-1"></fa-icon>
            {{ username }}
          </a>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <a class="nav-link pointer" (click)="logoutButtonClicked();" [class.active]="true">
            <fa-icon [icon]="faSignOutAlt" class="me-1"></fa-icon>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Logout Dialog -->
<kendo-dialog title="Please confirm" *ngIf="confirmLogout" (close)="closeLogout('cancel')">
  <p id="dialog">Are you sure you want to logout?</p>
  <kendo-dialog-actions>
    <button kendoButton [look]="'outline'" (click)="closeLogout('no')">No</button>
    <button kendoButton [look]="'outline'" (click)="closeLogout('yes')" themeColor="primary">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>

<div class="container-fluid">
  <router-outlet kendoRippleContainer></router-outlet>
</div>
