#login-view {
  // background: url(../../assets/my-nice-background.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

#kendo_popup {
  padding: 10px;
}

.floatingCard {
  width: 300px;
  border-radius: 15px;
}
